# Python
__pycache__/
*.pyc
venv/
.venv/

# Model files
*.pth
*.pt
*.ckpt
checkpoints/
weights/
outputs/
results/
logs/

# Datasets
datasets/
dataset/
PIPAL/
PIPAL22/
KADID-10K/
kadid10k/
KonIQ-10K/
koniq10k/

# System files
_MACOSX/
__MACOSX/
._*
.DS_Store
Thumbs.db